data/xefr/data/xefr/
__pycache__/
debug.log
data/.DS_Store
data/mongoDB views/UK Forecast View/.DS_Store
data/mongoDB views/.DS_Store
.DS_Store
data/mongoDB views/temp.json
data/mongoDB views/temp.json
data/mongoDB views/temp1.json
data/mongoDB views/temp2.json
*.dat
